
<form method="POST" action="/articles">
<label for="title"> Article Title</label>
<input type="text" id=":title" name="title">
<label for="content"> Article Content</label>
<input type="text" id=":content" name="content">
<input type="submit" id="Submit" value="submit">
</form>